[project]
	description = Filling data in the BookFlight
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/moolamdeepthi
[access "refs/for/refs/*"]
	read = group user/moolamdeepthi
	push = group user/moolamdeepthi
	label-Code-Review = -2..+2 group user/moolamdeepthi
	label-Verified = -1..+1 group user/moolamdeepthi
	rebase = group user/moolamdeepthi
	removeReviewer = group user/moolamdeepthi
	submit = group user/moolamdeepthi
[access "refs/heads/*"]
	read = group user/moolamdeepthi
	create = group user/moolamdeepthi
	push = +force group user/moolamdeepthi
	pushMerge = group user/moolamdeepthi
[access "refs/tags/*"]
	push = +force group user/moolamdeepthi
	pushTag = group user/moolamdeepthi
	pushSignedTag = group user/moolamdeepthi
